@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #595959;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #a9a9a9;
    --background-color: #1f1f1f;
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}
