@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --background-color: #2f2f2f;
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}
